/* Base CSS rules */
.comment_blurb {
   margin-top: 20px;
   border-left: 4px solid #558CCC;
   padding: 20px 20px 8px;
   max-width: 600px;
   box-shadow: 1px 1px 0.5px grey, 0px -0.5px 0.5px grey;
}

.author {
   padding-right: 10px;
}

#following_feed {
   display: none;
   margin-bottom: 30px;
}

#subreddits_feed {
   display: none;
   margin-bottom: 30px;
}

#preferences_page {
   display: none;
   margin-bottom: 30px;
}

#messaging_page {
   display:none;
   margin-bottom: 30px;
}

.section_title {
   margin-bottom: 20px;
}

/* Subreddit self and comment text */
.md {
   padding-top: 20px;
}

#loading_area {
   height:200px;
   width:400px;
   margin: 200px auto;
   text-align: center;
}

.favorite {
   font-size: 22px;
   cursor: pointer;
   float: right;
}

.glyphicon-star-empty {
   color: grey;
}

.glyphicon-star {
   color: gold;
}

.form-control {
   width: 200px;
}

#message_body {
   width: 400px;
   height: 100px;
}
