/* Base CSS rules */
.comment_blurb {
   margin-top: 20px;
   border-left: 4px solid #558CCC;
   padding: 20px;
   max-width: 600px;
   box-shadow: 1px 1px 0.5px grey, 0px -0.5px 0.5px grey;
}

.author {
   padding-right: 10px;
}

#following_feed {
   display: none;
   margin-bottom: 30px;
}

#subreddits_feed {
   display: none;
   margin-bottom: 30px;
}

#preferences_page {
   display: none;
   margin-bottom: 30px;
}

#messaging_page {
   display:none;
   margin-bottom: 30px;
}

.section_title {
   margin-bottom: 20px;
}

/* Subreddit self and comment text */
.md {
   padding-top: 20px;
}

.md a {
   word-break: break-all;
}

.timestamp {
   float:right;
   padding-right: 14px;
}

hr {
   margin-top: 12px !important;
   margin-bottom: 0px !important;
}

#loading_area {
   height:200px;
   max-width:400px;
   margin: 200px auto;
   text-align: center;
}

#loading_area h3 {
   font-size: 21px;
}

.favorite {
   font-size: 22px;
   cursor: pointer;
   float: right;
}

.glyphicon-star-empty {
   color: grey;
}

.glyphicon-star {
   color: gold;
}

.glyphicon-ok {
   color: green;
   font-size: 16px;
   padding-left: 7px;
}

.form-control {
   width: 200px;
}

#message_body {
   width: 400px;
   height: 100px;
}

.preference-body {
   margin-bottom: 20px;
}

.form-search input {
   height: 34px;
   float: left;
}

.form-search button {
   margin-left: 20px;
}
