/* Base CSS rules */
.comment_blurb {
   margin-top: 20px;
   border-bottom: 0.7px solid #ccc;
}

.comment_blurb:last-of-type {
   border-bottom: none;
}

.author {
   padding-right: 10px;
}

#following_feed {
   display: none;
   margin-bottom: 30px;
}

#subreddits_feed {
   display: none;
   margin-bottom: 30px;
}

#preferences_page {
   display: none;
   margin-bottom: 30px;
}

.section_title {
   margin-bottom: 20px;
}

/* Subreddit self and comment text */
.md {
   padding-top: 20px;
}

#loading_area {
   height:200px;
   width:400px;
   margin: 200px auto;
   text-align: center;
}
